:root {
  --player-width: 500px;
  --player-height: 200px;
}

.player {
  position: absolute;
  width: var(--player-width);
  height: var(--player-height);
  left: calc(50% - var(--player-width) / 2);
  top: calc(25% - var(--player-height) / 2);
  border-radius: 14px;
  z-index: 5;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 10px;
}

.subtitle {
  font-size: 15px;
  letter-spacing: 4px;
}

.title,
.subtitle {
  text-align: center;
}

.btn {
  margin: auto;
  display: block;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
}
